*{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
     justify-content: center;
     display:flex;
     background-color:whitesmoke;
     height:100vh;
}
.container
{
    animation: fadeIn 0.5s ease-in-out;
    padding: 40px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
    height: 30vh;
    background: orange;
}